#
# To use your tinyusb vendor example device as a non-root user, make sure you
# are a member of the plugdev group:
#
# sudo usermod -a -G plugdev $USER
#
# Reload udev after installing this rules file (in /etc/udev/rules.d/)
#
# sudo udevadm control --reload-rules && sudo udevadm trigger
#
# Unplug and replug your xum1541
#
#
SUBSYSTEM!="usb_device", ACTION!="add", GOTO="tinyusb_vendor_example_rules_end"

# kkspoofer
SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="0f0f", MODE="0666", GROUP="plugdev", TAG+="uaccess"


LABEL="tinyusb_vendor_example_rules_end"
